
.searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.94rem;
    height: 300px;
}

.searchInput {
    width: 287px;
    padding: 0.88rem 0;
    text-align: center;
    font-size: 1rem;
    color: #010c3f;
    margin-bottom: 2.22rem;
    outline: none;
    border: none; /* remove border */
    box-shadow: 0 0 5px 2px #d995f8; /* highlight on focus */
    border-radius: 4px; /* optional: soften corners */
    transition: box-shadow 0.3s ease;
}


.searchInput:focus {
    box-shadow: 0 0 5px 2px #af01ff; /* highlight on focus */
  }

.searchBtn {
    background-color: #d995f834;
    width: 8.11rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    font-size: 0.833rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;

    transition: background-color 0.25s ease, transform 0.15s ease, box-shadow 0.15s ease;
  }

  .searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchBtn:hover {
    background-color: #d995f8;
  }
  
  .searchBtn:focus {
    outline: none;
  }
  
  .searchBtn:active {
    background-color: #b56ed8;
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  }