.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    gap: 8px;    
}

.searchResultsTitle{
     margin: 0;
}

  /* Small/mobile screens (≤768px) */
  @media (max-width: 768px) {
    .resultsContainer {
      gap: 4px;
      padding: 0 12px;
    }
  
    .searchResultsTitle {
      /* font-size: 1.5rem; */
      text-align: center;
    }
  }
  